@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {

	/* FONT COLORS */
	--digi--color--text--primary: #181717;
	--digi--color--text--secondary: #00005a;
	--digi--color--text--inverted: #ededed;
	--digi--color--text--link: #1616b2;
	--digi--color--text--link-hover: #424ae0;
	--digi--color--text--link-visited: #822998;
	--digi--color--text--neutral: #5c5c5c;
	--digi--color--text--danger: #da0000;

	/* BG COLORS */

	--digi--color--background--primary: #ffffff;
	--digi--color--background--secondary: #e7e7e7;
	--digi--color--background--tertiary: #ffffff;
	--digi--color--background--inverted-1: #2d0e55;
	--digi--color--background--inverted-2: #1616b2;
	--digi--color--background--inverted-3: #333333;
	--digi--color--background--inverted-4: #b7ee4a;
	--digi--color--background--complementary-1: #058470;
	--digi--color--background--complementary-2: #d43372;
	--digi--color--background--neutral-1: #f1f8fe;
	--digi--color--background--neutral-2: #9fd33c;
	--digi--color--background--neutral-3: #d5d5d5;
	--digi--color--background--neutral-4: #5c5c5c;
	--digi--color--background--neutral-5: #f1f7e5;
	--digi--color--background--neutral-6: #ededed;
	--digi--color--background--neutral-7: #ddebc1;
	--digi--color--background--informative: #0000ff;
	--digi--color--background--success-1: #009322;
	--digi--color--background--success-2: #e9f6ec;
	--digi--color--background--success-3: #7dc88d;
	--digi--color--background--warning-1: #ffe200;
	--digi--color--background--warning-2: #fffbdd;
	--digi--color--background--warning-3: #fffded;
	--digi--color--background--danger-1: #da0000;
	--digi--color--background--danger-2: #fdeded;
	--digi--color--background--danger-3: #f09797;
	--digi--color--background--input: #ffffff;
	--digi--color--background--input-empty: #ffffff;
	--digi--color--background--radio-primary: #009322;
	--digi--color--background--radio-secondary: #00005a;
	--digi--color--background--radio-marker: #ffffff;
	--digi--color--background--checkbox-primary: #009322;
	--digi--color--background--checkbox-secondary: #00005a;
	--digi--color--background--checkbox-marker: #ffffff;
	--digi--color--background--inverted-5: #bdd3e7;
	--digi--color--background--inverted-6: #6700a3;
	--digi--color--background--neutral-8: #fafafa;
	--digi--color--background--danger-4: #c7311a;

  /* BORDER */

	--digi--color--border--primary: #333333;
	--digi--color--border--secondary: #5c1f7f;
	--digi--color--border--tertiary: #95c23e;
	--digi--color--border--quaternary: #95c23e;
	--digi--color--border--focus: #95c23e;
	--digi--color--border--success: #009322;
	--digi--color--border--warning: #ffe200;
	--digi--color--border--danger: #da0000;
	--digi--color--border--informative: #1616b2;
	--digi--color--border--inverted: #ffffff;
	--digi--color--border--neutral-1: #f1f7e5;
	--digi--color--border--neutral-2: #dddddd;
	--digi--color--border--neutral-3: #5c5c5c;
	--digi--color--border--neutral-4: #ededed;
	--digi--color--border--neutral-5: #757575;
	--digi--color--border--radio-primary: #058470;
	--digi--color--border--radio-secondary: #333333;
	--digi--color--border--radio-focus: #ffffff;
	--digi--color--border--checkbox-primary: #009322;
	--digi--color--border--checkbox-secondary: #333333;
	--digi--color--border--checkbox-focus: #1616b2;
	--digi--color--border--warning-2: #827400;
	--digi--color--border--warning-3: #8a7a00;
	--digi--color--border--inverted-2: #0058a3;
	--digi--color--border--inverted-3: #33337b;

  /* ICONS */

	--digi--color--icons--primary: #333333;
	--digi--color--icons--secondary: #00005a;
	--digi--color--icons--inverted: #ffffff;
	--digi--color--icons--complementary-1: #1616b2;
	--digi--color--icons--complementary-2: #424ae0;
	--digi--color--icons--complementary-3: #822998;
	--digi--color--icons--success: #009322;
	--digi--color--icons--warning: #ffe200;
	--digi--color--icons--danger: #da0000;
	--digi--color--icons--informative: #0000ff;

}


.home {
	background-color: var(--digi--water-200)
}

/* FOOTER & HEADER */

.header div {
  background-color: var(--digi--color--background--inverted-1);
}

.header h1 {
  color: var(--digi--color--text--inverted);
  margin: 0;
} 

.footer div {
  background-color: var(--digi--color--background--inverted-1);
}

.footer h4 {
  color: var(--digi--color--text--inverted);
  margin: 0;
} 

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}